.container {
	background-color: #e9ebf5; 
	border: 2px solid #414243;
	display: flex; 
	justify-content: space-between;
	aligh-items:center;
	margin: 50px 50px 0px 50px;
	opacity: 0.9;
}

h1 a{
	font-weight: normal;
	font-family: 'Farro', 'Figtree', Helvetica;
	text-align:left; 
	text-decoration: none; 
	color: #414243;
	font-size: 25px;
	margin-left: 25px;
}

.navigation {
	display: inline-block;
	float: right;
	margin-right: 25px;

}

.navigation a {
	display: inline-block;
	color: #696c81;
	text-align: center; 
	text-decoration: none; 
	font-family: 'Farro', 'Figtree', Helvetica;
	font-size: 20px;
	padding: 30px 10px;
}

.navigation a:hover {
	opacity: 0.6;
}

	
body{
 	background-image: url('https://images.unsplash.com/photo-1486246772917-8947d0f7f541?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80');
 	background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-size: 100% 100%;
	opacity: 0.9;
}

.header {
	border: 2px solid #414243;
	background-color: #e9ebf5;
	margin: 25px 50px 50px 50px;
	padding: 0px 0px 15% 0px;
}

h2, h3, p1 {
	text-align: center;
	color: #414243;
	font-weight: bold;
}

h2 {
	font-family: 'Over the Rainbow', 'Anaheim', 'Figtree', Helvetica;
	font-size: 1400%; 
	margin: 160px 0px 0px 0px;
}

h3 { 	
	font-family: 'Anaheim', 'Figtree', Helvetica;
	font-size: 250%; 
	text-align: center;
	margin: 0px;
	margin-top: -10px;
}

.contact{
	margin-top: 10px;
	text-align: center;
}

.contact a{
	color: #414243;
	padding: 0px 0px 0px 20px;
	border-radius: 50%;
	text-decoration: none; 
	font-weight: normal;
	font-size: 200%;
}

.contact a:hover{ 
	opacity: 0.6;
}


.resume {
	margin: 20px 300px 0px 300px; 
	font-family: 'Assistant', 'Farro', 'Figtree', Helvetica;
}

.resume h2{ 
	text-align: center;
	font-size: 175%;
	margin: 30px 0px 20px 0px;
	font-family: 'Assistant', 'Farro', 'Figtree', Helvetica;
}

.resume p2{
	font-size: 150%; 
	font-weight: bold; 
	color: #414243;
}

.resume p3{
	font-size: 150%; 
	font-style: italic; 
	color: #414243;
}

.resume p4{
	font-size: 150%; 
	float: right;
	color: #414243;
	flex: 50%;
}

.resume p5{
	font-size: 150%; 
	color: #414243;
	width: 83%;
	float: right;
}

.resume p6{
	font-size: 135%; 
	color: #414243;
	margin: 0px 0px 0px 35px; 
}

.aboutme {
	padding: 30px; 
	text-align:left;
	font-family: 'Anaheim', 'Figtree', Helvetica;
	font-weight: bold;
	color: #414243;
	font-size: 170%;
}






